keyring==10.6.0
cryptography==2.3
beautifulsoup4==4.9.0
brotli==1.0.7
Cython==0.29.16
Flask==1.1.2
importlib_metadata==1.6.0
ipaddr==2.2.0
lockfile==0.12.2
lxml==4.5.0
mypy_extensions==0.4.3
nltk==3.5
numpy==1.18.3
ordereddict==1.1
pandas==1.0.3
praw==7.0.0
protobuf==3.11.3
pymongo==3.10.1
pyOpenSSL==19.1.0
sklearn==0.0
toml==0.10.0
wincertstore==0.2
zipp==3.1.0
